

body{
    background-color: #f3f4f7;
}




a, .nav-link, i {
    color:rgba(231, 17, 160, 0.651);
    text-decoration: none;
}


.contact-me-box{
    background: #edeef0;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #a3b1c6, -10px -10px 15px #ffffff;

}
.btn-branding-contact{
    background:#edeef0;
    border-radius: 15px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 10px 10px 10px #a3b1c6, -10px -10px 15px #ffffff;
}
hr{
    width:200px;
    display: block;
    margin-top: 1px;
    padding: 0;
    justify-self: center;

}